.banner {
  background: $header-bg-image #333 center center no-repeat;
  color: $header-text-color;
  text-align: center;

  @include background-size(cover);

  h1 {
    margin: 0;
  }
}

.banner .navbar {
  margin-bottom: 0;
  text-align: left;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 36px;
}

@media screen and (min-width: $screen-sm-min) {
  .banner {
    min-height: 770px;
    text-align: left;

    h1,
    .h1 {
      font-size: $font-size-h1-sm;
      margin-bottom: 20px;
    }

    .iphone {
      float: right;
    }
  }

  .header-content {
    display: table;
    font-size: 20px;
    font-weight: 400;
    height: 667px;
    line-height: 1.6;

    .cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
    }
  }
}

@media screen and (min-width: $screen-md-min) {
  .banner {
    h1,
    .h1 {
      font-size: $font-size-h1-md;
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .banner {
    h1,
    .h1 {
      font-size: $font-size-h1-lg;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .banner {
    background: $header-bg-image-2x;
  }
}