@mixin background-size($size) {
  -webkit-background-size: #{$size};
  background-size: #{$size};
}

@mixin clearfix {
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
}